<nav class="navbar navbar-expand-lg bg-danger" data-bs-theme="dark"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> 
      <img src=" https://upload.wikimedia.org/wikipedia/en/7/72/New_Mobile_Legends_Bang_Bang_2020_Logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Heroes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/roles" >Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/emblemas">Emblemas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recargar Diamantes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet> </router-outlet>